# Ignore virtual environment
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Logs
*.log

# Environment
.env
